h1 {
    display: flex;
    color:rgb(8, 80, 8);
    font-size: 4vw;
    text-align:center;
    font-family:'Courier New', Courier, monospace ;
    position: absolute;
    top: 0%;
    left: 32%;
    height: 5%;
  
}

#bigcont {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: rgb(159, 196, 159, 0.5);
    border-style: Solid;
    border: 10%;
    border-color: rgb(255, 255, 255);
    height:80%;
    width: 80%;
    gap: 0.5%;
    justify-content: center;
    position: absolute;
    left: 10%;
    top: 10%;
}